{% extends 'enroll/home_all.html' %}
{% load static %}
{%block css %}<link rel="stylesheet" href="{% static 'enroll/css/bootstrap.css' %}" />{% endblock css %}
{% block content %}
<div class="row">
    <div class="col-sm-8 offset-2">
      <h4 class="alert alert-info">Change Password</h4>
      <div class="card-body">
        <form method="POST" autocomplete="off" >
          {% csrf_token %}
          {% for field in form %}
          {% if field.name == 'password' %}
          <div class="form-row">
              <div class="name {% if field.errors %}error{% endif %}">{{ field.label }}</div>
              <div class="value">
                  <div class="input-group">
                      {{ field }}
                  </div>
                  {% if field.errors %}
                  <p class="error-message">{{ field.errors }}</p>
                  {% endif %}
              </div>
          </div>
          {% endif %}
          {% endfor %}
          <input type="submit" class="btn btn-success" value="Update" style="width: 100px; padding: 0px;"/>
          <a href="{% url 'changed_details' form.username.value %}" class="btn btn-info" style="width: 100px; padding: 0px;">Back</a>
          
      </form>
    </div>
    {% if msg %}
    <h1>{{msg}}</h1>
    {% endif %}
  </div>

{% endblock content %}
