{% extends 'enroll/home_all.html' %}
{% block content %}
<div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
    <div class="wrapper wrapper--w790">
      <br /><br /><br />
      <div class="card card-5">
        <div class="card-heading">
          <h2 class="title">Student Registration</h2>
        </div>
        <div class="card-body">
          <form method="POST" autocomplete="off">
            {% csrf_token %}

            {% for field in form %}
            <div class="form-row">
                <div class="name {% if field.errors %}error{% endif %}">{{ field.label }}</div>
                <div class="value">
                    <div class="input-group">
                        {{ field }}
                    </div>
                    {% if field.errors %}
                    <p class="error-message">{{ field.errors }}</p>
                    {% endif %}
                </div>
            </div>
            {% endfor %}

            <div class="text-center">
              <button class="btn btn--radius-2 btn-danger btn-block" type="submit">Register</button>
            </div>
          </form>
          <br />
          <p style="text-align: center">
            Already have an account?
            <a style="text-decoration: none" href="/student_login/">Login To Continue</a>
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
